@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext');

body {
	font-family: 'Lato';
	margin: 0;
	overflow: hidden;
	zoom: 100%;
}

b {
	font-size: 20px;
	font-weight: 700;
}

small {
	font-size: 12px;
}

#messages {
	bottom: 0;
	position: absolute;
	width: 100%;
}

.badge {
	height: 28px;
	padding-right: 5px;
}

.emote {
	display: inline-block;
	height: 28px;
	vertical-align: middle;
}

.img-circle {
	border-radius: 100px;
}

.message {
	background-color: rgba(0, 0, 0, 0.7);
	/*bottom: 0;*/
	color: white;
	display: block;
	font-size: 28px;
	font-weight: 300;
	min-height: 70px;
	overflow: hidden;
	padding: 10px;
	/*position: absolute;*/
	/*width: 100%;*/
	word-break: break-word;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

/*.time {
	margin-right: 30px;
}*/